<div class="share-icons-container">
  <a href="#" aria-label="Compartilhar via Twitter"
    ><img
      loading="lazy"
      src="img/noticia-pagina/rede-social/twitter.svg"
      alt="icone do twitter" /></a
  ><a href="#" aria-label="Compartilhar via Facebook"
    ><img
      loading="lazy"
      src="img/noticia-pagina/rede-social/facebook.svg"
      alt="icone do facebook" /></a
  ><a href="#" aria-label="Compartilhar via Linkedin"
    ><img
      loading="lazy"
      src="img/noticia-pagina/rede-social/linkedin.svg"
      alt="icone do linkedin" /></a
  ><a href="#" aria-label="Compartilhar via Whatsapp"
    ><img
      loading="lazy"
      src="img/noticia-pagina/rede-social/whatsapp.svg"
      alt="icone do whatsapp" /></a
  ><a href="#" aria-label="Compartilhar via Email"
    ><img
      loading="lazy"
      src="img/noticia-pagina/rede-social/mail.svg"
      alt="icone de carta"
  /></a>
</div>
