<footer class="footer">
  <div id="links">
    <div class="container">
      <div class="footer-menu-logo">
        <img class="site-footer-logo" src="https://storage.googleapis.com/mm-images/static/monitor-logo-amarelo.png" alt="Logo do Monitor do Mercado" >
      </div>
      <div class="footer-menu-area">
        <ul class="list-inline main-menu-footer">
          <li class="list-inline-item">
            <a class="footer-main-link" href="/"> Início</a>
          </li>
          <li class="list-inline-item">
              <a class="nav-link" href="/dashboard"> Ferramentas
                </a>
          </li>
          <li class="list-inline-item">
             <a class="nav-link" href="/noticias"> Notícias
                </a>
          </li>
          <li class="list-inline-item">
            <a class="nav-link" href="/blogs"> Blogs
            </a>
          </li>
          <li class="list-inline-item">
            <a class="nav-link menu-name-compound-footer" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Informes Corporativos
              <i class="fa fa-caret-down icon-centralizar-informes-footer"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/fatos-relevantes"> Fatos relevantes</a>
              <a class="dropdown-item" href="/b3-news">B3</a>
              <a class="dropdown-item" href="/dino-news">Notícias - Dino</a>
            </div>
          </li>
        </ul>
        <li class="list-inline social-menu social-menu-footer-telegram">
          <a href="https://t.me/monitordomercado">
          <i class="fa "></i>
          <img src="https://storage.googleapis.com/mm-images/static/telegram.png" alt="telegram">
          <div class="ripple-container"></div>
          </a>
        </li>
        <ul class="  list-inline social-menu social-menu-footer">
          <li class="">
            <a href="https://twitter.com/MonitorMercado" title="Twitter do Monitor do mercado" class=" twitter">
              <i class="fa fa-twitter"></i>
              <div class="ripple-container"></div>
            </a>
          </li>
          <li class=""><a href="https://www.facebook.com/monitordomercado" title="Facebook do Monitor do mercado"
                  class=" facebook"><i class="fa fa-facebook"></i>
                  <div class="ripple-container"></div>
              </a></li>
          <li class=""><a href="https://www.linkedin.com/company/25001316/" title="Linkedin do Monitor do mercado"
                  class=" linkedin"><i class="fa fa-linkedin"></i>
                  <div class="ripple-container"></div>
              </a></li>
          <li class=""><a href="https://www.instagram.com/monitordomercado/?hl=pt-br" title="Instagram do Monitor do mercado"
                  class=" instagram"><i class="fa fa-instagram"></i>
                  <div class="ripple-container"></div>
              </a></li>
          <li class=""><a href="/content.rss" class=" rss"><i class="fa fa-rss"></i>
                  <div class="ripple-container"></div>
              </a></li>
        </ul>
      </div>
      <div class="site-footer">www.monitordomercado.com.br</div>
    </div>
  </div>
</footer>
